<div id=footer>
<h4>Supported by</h4>
<div class="grid-auto">
    <div class="grid-item">
        <a target="_blank" href="https://www.nist.gov"><img src="digitizer/static/graphics/nistident_cent_300ppi.jpg"></a>
    </div>
    <div class="grid-item">
        <a target="_blank" href="https://www.epfl.ch"><img src="digitizer/static/graphics/epfl.png"></a>
    </div>
    <div class="grid-item">
        <a target="_blank" href="https://www.matscreen.com"><img src="digitizer/static/graphics/matscreen.png"></a>
    </div>
</div>
</div>
